@import "@/styles/variables.scss";
@import "@/styles/classes.scss";

.TextAreaWrapper {
  display: flex;
  flex-direction: column;

  textarea {
    @extend .baseInput;
    resize: none;
  }

  .error {
    @extend .inputError;
  }
}
