@import "@/styles/variables.scss";
@import "@/styles/classes.scss";

.TextAreaWrapper {
  display: flex;
  flex-direction: column;

  textarea {
    @extend .baseInput;
    font-family: "__Montserrat_b1da2a", "__Montserrat_Fallback_b1da2a";
    resize: none;
  }

  .error {
    @extend .inputError;
  }

  label {
    @extend .label;
  }
}
