@import "@/styles/variables.scss";

.Button {
  padding: 8px 12px;
  border: 1px solid $light-gray-color;
  gap: 24px;
  color: #fff;
  cursor: pointer;

  &:hover {
    filter: opacity(0.85);
  }

  // Types / Variants
  &.primary {
    background-color: $primary-color;
    border-radius: 4px;
    color: #fff;
  }

  &.link {
    background-color: transparent;
    padding: 0;
    border: none;
    color: $dark-color;
  }

  &.disabled {
    filter: grayscale(1);
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Sizes
  &.small {
    span {
      font-size: $fs-small;
    }
  }

  &.medium {
    span {
      font-size: $fs-medium;
    }
  }

  &.large {
    span {
      font-size: $fs-large;
    }
  }

  span {
    font-size: $fs-medium;
    font-weight: $fw-bold;
  }
}
