@import "@/styles/variables.scss";
@import "@/styles/classes.scss";

.SelectWrapper {
  display: flex;
  flex-direction: column;

  select {
    @extend .baseInput;
    background-color: #fff;
  }

  label {
    @extend .label;
  }

  .error {
    @extend .inputError;
  }
}
