.Clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div.titleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0;
    list-style: none;
  }
}
