@import "./variables.scss";
@import "./breakpoints.scss";

.inputError {
  margin-top: 2px;
  color: $danger-color;
  font-size: $fs-small;
}

.baseInput {
  padding: $input-base-padding;
  border-radius: $input-border-radius;
  border: 1px solid $light-gray-color;
  font-size: $fs-medium;
  font-family: "__Montserrat_b1da2a", "__Montserrat_Fallback_b1da2a";
}

.label {
  font-size: $fs-small;
  color: $dark-color;
  font-weight: $fw-medium;
  margin-bottom: 4px;
}

.responsiveWidths {
  width: 100%;
  max-width: 420px;

  @include md {
    max-width: 560px;
  }

  @include lg {
    max-width: 820px;
  }
}
