@import "./variables.scss";

.inputError {
  margin-top: 2px;
  color: $danger-color;
  font-size: $fs-small;
}

.baseInput {
  padding: $input-base-padding;
  border-radius: $input-border-radius;
  border: 1px solid $light-gray-color;
  font-size: $fs-medium;
}

.label {
  font-size: $fs-small;
  color: $dark-color;
  font-weight: $fw-medium;
  margin-bottom: 4px;
}
