// colors
$primary: #4c9cdd;
$light-gray: #8d8d8d;
$default-gray: #686868;
$danger: #ff1b1b;

// font sizes
$size-parragraph: 16px;

// font weights
$weight-bold: 600;
$weight-semibold: 500;
$weight-light: 400;
