// colors
$primary-color: #ff9f24;
$secondary-color: #646464;
$dark-color: #323232;
$light-gray-color: #969696;
$danger-color: red;

// font sizes
$fs-small: 12px;
$fs-medium: 14px;
$fs-large: 16px;

// font weights
$fw-light: 400;
$fw-medium: 500;
$fw-bold: 700;
