// colors
$primary-color: #00a1b0;
$secondary-color: #646464;
$dark-color: #3c3950;
$light-gray-color: #969696;
$danger-color: #e52121;
$success-color: #1b9926;

// font sizes
$fs-small: 12px;
$fs-medium: 14px;
$fs-large: 16px;

// font weights
$fw-light: 400;
$fw-medium: 500;
$fw-bold: 700;

// inputs
$input-base-padding: 8px 12px;
$input-border-radius: 4px;
