@import "@/styles/variables.scss";
@import "@/styles/classes.scss";

.NewClient {
  @extend .responsiveWidths;

  display: flex;
  flex-direction: column;

  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $dark-color;
    }
  }
}
