@import "@/styles/variables.scss";

.ClientCard {
  border: 1px solid $light-gray-color;
  border-radius: 4px;
  padding: 10px 16px;
  row-gap: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  h4,
  p {
    margin: 0;
  }

  h4 {
    color: $dark-color;

    small {
      font-size: $fs-small;
      font-weight: $fw-light;
      color: $secondary-color;

      span {
        font-weight: $fw-medium;
        color: $dark-color;

        &.active {
          color: $success-color;
        }

        &.disabled {
          color: $danger-color;
        }
      }
    }
  }

  p {
    font-size: $fs-medium;
    color: $secondary-color;
  }
}
