@import "@/styles/variables.scss";

.ClientCard {
  border: 1px solid $light-gray-color;
  border-radius: 4px;
  padding: 0 16px;

  h4 {
    margin-bottom: 10px;
    color: $dark-color;

    small {
      font-size: $fs-small;
      font-weight: $fw-light;
      color: $secondary-color;

      span {
        font-weight: $fw-medium;
        color: $dark-color;

        &.active {
          color: $success-color;
        }

        &.disabled {
          color: $danger-color;
        }
      }
    }
  }

  p {
    font-size: $fs-medium;
    color: $secondary-color;
    margin-top: 0;
  }
}
